/* SELECTOR {
    PROPIEDAD : 1223221
    PROPIEDAD : "23kpx23"
} 
*/


    /*font-size: xx-large*/
   
 *{
     font-size: x-large;
     /*font-family: fantasy;*/
    
 }

body{
    background-color: black
}

footer {
    font-family: 'Klee One', cursive;
    background-color: lightcoral;
    color: white
}

header {
    background-color: black;
    color: white;
}

#Iniciar {
    color: white;
}

.Registrar {
    background-color: white;
    color: black;
}

body > table > tbody > tr  {
    background-color: black;
    color: white;
}
    /*
body > table > tbody > tr > td:nth-child(2) > section > p {
    background-color: black;
    color: white; 
}
*/

li, h2 {
    color:white
}

